@model BIID.Entities.SeedProduction

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutOfAdmin.cshtml";
}

<h2>Delete Seed Production</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Seed Production</legend>

      <div class="display-label">Item</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Item.Name)
    </div>

    <div class="display-label">ProcedureOfSeed</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProcedureOfSeed)
    </div>

    <div class="display-label">Condition</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Condition)
    </div>

    <div class="display-label">SeedStorage</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SeedStorage)
    </div>

    <div class="display-label">Remarks</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Remarks)
    </div>

  
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
