@model BIID.Entities.CustmerProfile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CustmerProfile</legend>

   
   <div class="display-label">CustomerId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerId)
    </div>
   
    <div class="display-label">CustomerName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerName)
    </div>

    <div class="display-label">Contact</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">District</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.District)
    </div>

    <div class="display-label">Upazilla</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Upazilla)
    </div>

     <div class="display-label">Complain</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Complain)
    </div>
    
    
    <div class="display-label">Remarks</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Remarks)
    </div>

   

    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
