@model BIID.Entities.HarvestingManagement

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutOfAdmin.cshtml";
}

<h2>Edit Harvesting Management</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Harvesting Management</legend>

        @Html.HiddenFor(model => model.Id)
        
         <div class="editor-label">
            @Html.LabelFor(model => model.ItemId, "Item")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ItemId", String.Empty)
            @Html.ValidationMessageFor(model => model.ItemId)
        </div>
        

        <div class="editor-label">
            @Html.LabelFor(model => model.HarvestingTime)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.HarvestingTime)
            @Html.ValidationMessageFor(model => model.HarvestingTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Systems)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Systems)
            @Html.ValidationMessageFor(model => model.Systems)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Procedures)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Procedures)
            @Html.ValidationMessageFor(model => model.Procedures)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Threshing)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Threshing)
            @Html.ValidationMessageFor(model => model.Threshing)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Packaging)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Packaging)
            @Html.ValidationMessageFor(model => model.Packaging)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Storage)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Storage)
            @Html.ValidationMessageFor(model => model.Storage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Remarks)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>

       

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
