@model BIID.Entities.NutritionalStatu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutOfAdmin.cshtml";
}

<h2>Delete Nutritional Status</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Nutritional Status</legend>

    <div class="display-label">Item</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Item.Name)
    </div>
    <div class="display-label">AmountOfNutrient</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AmountOfNutrient)
    </div>

    <div class="display-label">FoodValue</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FoodValue)
    </div>

    <div class="display-label">Remarks</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Remarks)
    </div>

   
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
